.restriction-icon {
    width: 8vw;
    height: auto;
    margin: 1.5rem auto;
    display: block;
}

video {
    margin: 1.5rem auto;
    width: 80%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .restriction-icon {
        width: 20vw;
    }

    video {
        margin: 1.5rem auto;
        width: 130%;
    }
}