.dark-pink-text {
    color: #CA4458;
}

.half-full-img {
    width: 100%;
    border-radius: 10px;
    padding: 0px 10%;
}

@media only screen and (max-width: 768px) {
    .half-full-img {
        padding: 0px;
    }
}