.dark-pink-text {
    color: #CA4458;
}

.half-full-img {
    width: 100%;
    border-radius: 10px;
    padding: 0px 10%;
}

.side-text {
    flex: 1;
}

.left-side-img {
    width: 60%;
    min-width: 250px;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 10px;
}

.img-row > .left-side-img {
    flex: 5;
}

.img-row > .right-side-img {
    flex: 6;
}

.right-side-img {
    width: 60%;
    min-width: 250px;
    object-fit: contain;
    margin-left: 15px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .half-full-img {
        padding: 0px;
    }
}