.cover {
    background-size: 100%;
}

.gray-bg {
    background-color: #F6F6F6;
}

.coverImage {
    height: 15rem;
}

.section {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.full-width-section {
    width: 101%;
    padding: 1rem 2rem;
}

p {
    font-family: Open Sans;
}

.label-img {
    width: 60px;
}

.section-subtitle {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.section > h5 {
    font-weight: bold;
    line-height: 2.5em;
}

.section p {
    line-height: 1.7em;
}

.full-width-img {
    width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: auto;
}

.center-context {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.secondary-title {
    font-weight: bold;
    line-height: 2.5em !important;
}

.div-box {
    background-color: #EBF6F2;
    border-radius: 10px;
    padding: 0.7em 1em;
}

.reflection-icon {
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .flow-img {
        height: 20vh;
    }
    .center-img-space{
        width: 70vw;
    }
    .reflection-icon {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flow-img {
        height: 25vh;
    }
    .center-img-space{
        width: 70vw;
    }
    .reflection-icon {
        max-width: 20%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flow-img {
        height: 50vh;
    }
    .center-img-space{
        width: 55vw;
        margin: 2rem;
    }
    .reflection-icon {
        max-width: 15%;
    }
}