.cover {
    background-color: #F6F6F6;
    background-size: 100%;
}

.coverImage {
    height: 15rem;
}

.col-4 {
    min-width: 15rem;
}

.section {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

p {
    font-family: Open Sans;
}

.section > h6 {
    font-weight: bold;
}

.section p {
    line-height: 1.7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.full-width-img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}