li {
    font-family: Arial, Helvetica, sans-serif
}

.section {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.full-width-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.full-width-section > p, .full-width-section > h5 {
    margin-left: 15%;
    margin-right: 15%;
}

.full-width-inner-section {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.full-width-title {
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 2rem;
}

.label-img {
    width: 60px;
}

.section-subtitle {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.section > :is(h1,h2,h3,h4,h5,h6) {
    font-weight: bold;
    line-height: 2.5em;
}

.section p {
    line-height: 1.7em;
}

/* TODO: check use case */
.full-width-img {
    width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: auto;
}

.center-context {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.secondary-title {
    font-weight: bold;
    line-height: 2.5em !important;
}

.div-box {
    background-color: #EBF6F2;
    border-radius: 10px;
    padding: 0.7em 1em;
}

.background-green {
    background-color: #EBF6F2;
}

.background-pink {
    background-color: #FFF0F0;
}

.reflection-icon {
    width: 8vw;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.restriction-icon {
    width: 8vw;
    height: auto;
    margin: 1.5rem auto;
    display: block;
}

video {
    margin: 1.5rem auto;
    width: 80%;
}

.big-number-section {
    flex: 1;
    text-align: center;
    padding: 5px;
    min-width: 200px;
}

.big-number {
    font-size: 64px;
}

.number-description {
    font-size: 16px;
}

.big-title {
    font-size: 28px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .flow-img {
        height: 20vh;
    }
    .center-img-space{
        width: 70vw;
    }
    .center-img-space-3{
        width: 70vw;
        margin: 2rem;
    }
    .reflection-icon {
        display: none;
    }

    .restriction-icon {
        width: 20vw;
    }

    video {
        margin: 1.5rem auto;
        width: 130%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flow-img {
        height: 25vh;
    }
    .center-img-space-3{
        width: 60vw;
        margin: 2rem;
    }
    .center-img-space{
        width: 70vw;
    }
    .reflection-icon {
        max-width: 20%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flow-img {
        height: 50vh;
    }
    .center-img-space{
        width: 55vw;
        margin: 2rem;
    }
    .center-img-space-3{
        width: 40vw;
        margin: 2rem;
    }
    .reflection-icon {
        max-width: 15%;
    }
}