@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-toggler {
  border: 0px !important;
}

.navbar-icon {
  height: 1rem;
  vertical-align: inherit;
  margin-left: 0.5rem;
}

.nav-item {
  float: right !important;
}

.nav-item :hover{
  color: #FFE2E2 !important;
}

.nav-item :focus{
  color: #FFB6B9 !important;
}

.nav-link {
  float: right !important;
  margin-right: 1rem !important;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pink-text {
  color: #FFB6B9
}

.gray-text {
  color: #A0A0A0;
}

.white-text {
  color: white;
}

.center-text {
  text-align: center;
}

.projectCard {
  margin-bottom: 2rem !important;
}