.cover {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gray-bg {
  background-color: #F6F6F6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .col, .col-3, .col-4, .col-5, .col-6 {
      min-width: 15rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-toggler {
  border: 0px !important;
}

.navbar-icon {
  height: 1rem;
  vertical-align: inherit;
  margin-left: 0.5rem;
}

.nav-item {
  float: right !important;
}

.nav-item :hover{
  color: #F49DA0 !important;
}

.nav-item :focus{
  color: #F49DA0 !important;
}

.nav-link {
  float: right !important;
  margin-right: 1rem !important;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blue-text {
  color: #316BCF;
}

.pink-text {
  color: #F49DA0
}

.gray-text {
  color: #A0A0A0;
}

.white-text {
  color: white;
}

.bold-text {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  background-image: linear-gradient( rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}