.postName {
    padding: 2rem 0.5rem;
}

.postImage {
    /* Full height */
    height: 12rem;
    width: 20rem;
    border: 0px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

a:hover {
    text-decoration: none;
}