.cardBorder{
    height: 12rem;
    width: 20rem;
}

.card {
    /* Full height */
    height: 100%;
    width: 100%;
    border: 0px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cardBorder:hover .card,
.cardBorder:focus .card{
    transition:all .5s ease-in-out;
    background-size: 110%;
}

.projectDescription {
    padding-top: 1.5rem;
    padding-right: 1rem;
    width: 25%;
    min-width: 20rem;
}

.projectCard {
    margin-bottom: 2rem !important;
    display: flex;
    flex-wrap: wrap;
}