@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.nav-item {
  @apply font-special;
}

p {
  @apply font-normal;
}

:root {
  --dark-blue: #316BCF;
  --pink: #F49DA0;
  --dark-gray: #A0A0A0;
  --light-gray: #F6F6F6;
  --white: white;
  --black: black;
}

.cover {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gray-bg {
  background-color: var(--light-gray);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  .col,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    min-width: 15rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img {
  animation: fadein 1.5s;
}

.navbar-toggler {
  border: 0px !important;
}

.navbar-icon {
  height: 1rem;
  vertical-align: inherit;
  margin-left: 0.5rem;
}

.nav-item {
  color: var(--black) !important;
  float: right !important;
}

.nav-item :hover {
  color: var(--pink) !important;
}

.nav-item :focus {
  color: var(--pink) !important;
}

.nav-link {
  float: right !important;
  margin-right: 1rem !important;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blue-text {
  color: var(--dark-blue);
}

.pink-text {
  color: var(--pink);
}

.gray-text {
  color: var(--dark-gray);
}

.white-text {
  color: var(--white);
}

.bold-text {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.quote-text {
  font-style: italic;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}